# Topics in Economics
## Project 1

### Import Statements

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from fredapi import Fred

### API Key

In [2]:
fred_api_key = '6014571ef89b16f87265e5d0b7644011' 
fred = Fred(api_key=fred_api_key)

### Data Extraction

In [7]:
dfedtar_data = fred.get_series('DFEDTAR')
dfedtaru_data = fred.get_series('DFEDTARU')

data = pd.DataFrame({'DFEDTAR': dfedtar_data, 'DFEDTARU': dfedtaru_data})

cutoff_date = pd.Timestamp('2008-12-15')
data['Final_Rate'] = data.apply(
    lambda row: row['DFEDTAR'] if row.name <= cutoff_date else row['DFEDTARU'], axis=1
)

data['Change_Target_Rate'] = data['Final_Rate'].diff()
data

            DFEDTAR  DFEDTARU  Final_Rate  Change_Target_Rate
1982-09-27    10.25       NaN       10.25                 NaN
1982-09-28    10.25       NaN       10.25                0.00
1982-09-29    10.25       NaN       10.25                0.00
1982-09-30    10.25       NaN       10.25                0.00
1982-10-01    10.00       NaN       10.00               -0.25
...             ...       ...         ...                 ...
2024-10-23      NaN       5.0        5.00                0.00
2024-10-24      NaN       5.0        5.00                0.00
2024-10-25      NaN       5.0        5.00                0.00
2024-10-26      NaN       5.0        5.00                0.00
2024-10-27      NaN       5.0        5.00                0.00

[15372 rows x 4 columns]

In [8]:
nan_count = data['Final_Rate'].isna().sum()
print(f'Number of NaNs in Final_Rate: {nan_count}')

Number of NaNs in Final_Rate: 0